/* ejemplo2.css   DF20007  */
pais {background-color:rgb(255, 136, 0);}
departamento {background-color:rgb(157, 194, 191); display:block;} 
cabecera {color:white; display:block;} 
habitantes {color:white; display:block;}
altura {color:white; display:block;}