/* ejercicio1a.css   DF20007  */

* {
    margin:0;
    padding: 0;
}

fichero {
    background-color: #dad161;
    color: white;
    font-family: Bahnschrift SemiBold;
} 

ficha[id]::before {
    content: "Id: "attr(id)" Fecha: "attr(fechaingreso);
    color: white;
    font-weight: bold;
    display: block;
    text-align: center;
    font-family: Bahnschrift SemiCondensed;
}

ficha {
    width: 700px;
    margin: 10px auto;
    padding: 10px;
    background-color: #4bbcd8;
    border-style: solid;
    border-color: #111010;
    font-size: 1.4em;
    display: block;
}

nombre {
    text-align: center;
    display: inline;
}

apellido {
    text-align: center;
    display: inline;
}

direccion {
    display: block;
}

telefono {
    display: block;
}

email {
    display: block;
}

urlWebsitePersonal {
    display: block;
}


